<h1> Welcome RPS </h1>
<form action="/names" method="post">
  <label for="playername">
    Player name
    <input type="text" name="playername">
  </label>
  <input type="submit" value="Submit">
</form>
