<h1>Welcome <%=@player%>
  </h1>

  <form action = "/result" method = "post">
    <input type = "text" input = "input" name = "input"  > Choose rock, paper or scissors </input>
    <br>
    <br>
    <input type = "submit" value = "Submit">
    </form>
